
build-tools/
hybris-sbg/
installer/
licenses/

hybris/temp
hybris/roles
hybris/data
hybris/log
hybris/bin/.idea
hybris/bin/modules
hybris/bin/platform
hybris/bin/custom/yb2bacceleratorstorefront

hybris/config/backup
hybris/config/customize
hybris/config/languages
hybris/config/licence
hybris/config/orbeon
hybris/config/solr
hybris/config/tomcat
hybris/config/.*
hybris/config/readme.txt

hybris/bin/**/hmc/bin/
hybris/bin/**/web/
hybris/bin/**/classes/
hybris/bin/**/web/testclasses/
hybris/bin/**/testsrc/
hybris/bin/**/gensrc/
hybris/bin/**/jalo/
hybris/bin/**/lib/
hybris/bin/**/.*

hybris/bin/**/build.xml
hybris/bin/**/extensioninfo.xsd
hybris/bin/**/resources/items.xsd
hybris/bin/**/resources/beans.xsd
hybris/bin/**/hmc/resources/hmc.xsd
hybris/bin/**/resources/*.build.number

CLAUDE.md

## Global file pattern
~
*.bak
*.class
*.log
*_bof.jar
*testclasses.xml
*hmc.jar
*.swp
.ant-targets-build.xml
.classpath
.project
.pmd
.DS_Store
beans.xsd
clientdb.xml
ruleset.xml
desktop.ini
extensioninfo.xsd
hmc.xsd
items.xsd
jd-gui.cfg
platformhome.properties
sonar-*.properties
velocity.log
Thumbs.db
*.txt
*.png
.springBeans
*.DS_Store
build.xml
hybrisCodeGeneration.launch
hybris4intellij.properties
.idea/
.claude/