@charset "utf-8";
$lccbackoffice-container-background: var(--bo-base-background);
$lccbackoffice-container-font-family: var(--bo-font-family);
$lccbackoffice-container-font-size: $font-size__base;
$lccbackoffice-label-text-color: var(--bo-text-color);
